---
---

.right {
  float: right;

  .test {
    color: blue;
  }
}

body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: url("{{ "/images/background_top.png" | prepend: site.baseurl }}" );
  background-size: 100% 100vh;
}
