---
---


body {
  margin: 0;
  padding: 0;
}

// main background
.main {
  position: block;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: url('{{ "/images/star-bg.png" | prepend: site.baseurl }}' );
  background-attachment: fixed;
  background-size: 100% 100vh;
}

// main header
.header {
  margin: 0px 2%;
  .logo {
    width: 80%;
    display: inline-block;
    img {
      padding-left: 3vh;
      height: 15%;
    }
  }
}

// homepage
.homepage{
  text-align: center;
  img{
    max-width: 100%;
    width: 800px;
  }
  h2{
    font-size: 2.6em;
    color: #DAAA00;
    span{
      margin: 5px 20px;
    }
  }
  h3{
    color:white;
    font-size: 2.1em;
    -webkit-margin-before: 0;
  }
  button{
    color: black;
    background-color: white;
    font-size: 1.6em;
  }
}
