// about page
.about{
  h1{
    color: white;
    text-align: center;
    font-size: $title;
  }
  .detail {
    @include flex-center;
    p{
      max-width: 800px;
      color: white;
      font-size: 1.2em;
      line-height: 1.6em;
    }
  }
}