// about page
.about{
  h1{
    color: white;
    text-align: center;
    font-size: $title;
    margin-bottom: 10px;
    font-weight: 900;
  }
  .detail {
    @include flex-center;
    p{
      margin: 10px 0 0 40px;
      max-width: 500px;
      color: white;
      font-size: $detail;
      line-height: $detailHeight;
    }
  }
}