.FAQ {
  text-align: center;
  @include desktop-and-up{
    padding: 100px 20px 0 20px !important;
  }
  h1{
    color: white;
    font-size: $title;
    margin-bottom: 10px;
  }
  .Q-and-A{
    width: 100%;    
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    li{
      list-style: none;
      h3{
        color: $yellow;
        font-size: $header;
        margin: 20px 0 5px 0;
        text-align: left;
      }
      p{
        color:white;
        font-size: 10pt;
        line-height: 18pt;
        text-align: left;
        margin: 0;
        a{
          // text-decoration: underline;
          text-underline-position: under;
          color: white;
          display: block;
        }
      }
    }

    @include tablet-to-desktop {
      grid-gap: 10px 10px;
      grid-template-columns: 1fr 1fr;
      width: 600px;
    }

    @include desktop-and-up {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px 10px;
      width: 700px;
    }
  }
  h3{
    margin-top: 100px;
    color: white;
    font-size: $header;
    a{
      color: $yellow;
      text-decoration: none;
    }
    
    @include tablet-to-desktop {
      margin-top: 20px;
    }
  }
}