@font-face {
    font-family: "My-Avenir";
    src: url('./font/avenir/thin.woff2') format('woff2'),
            url('./font/avenir/thin.woff') format('woff'),
            url('./font/avenir/thin.eot') format('embedded-opentype'),
            url('./font/avenir/thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
