// main header
.header {
  margin: 0px 2%;
  max-width: 800px;
  position: absolute; 
  .logo {
    width: 80%;
    display: inline-block;
    img {
      padding-left: 3vh;
      max-height: 100px;
      @media screen and (min-width:1024px){
        max-height: 200px;
      }
    }
  }
}

