// homepage
.homepage{
  text-align: center;
  img{
    max-width: 100%;
    width: 100%;
    @media screen and (min-width: 1023px) {
      width: 50vw;
    }
  }
  .detail {
    max-width: 800px;
    margin: 0 auto;
    h2{
      margin: 20px 0 10px 0;
      font-size: 2.6em;
      color: $yellow;
      span{
        // margin: 5px 10px;
      }
    }
    h3{
      white-space: pre-wrap;
      color:white;
      font-size: $titleMobile;
      -webkit-margin-before: 0;
    }
    div{
      width: 100%;
      @include flex-row;
      justify-content: center;
    }
    @media screen and (min-width:1023px) {
      h3 {
        font-size: 1.5em; 
      }
      div{
        width: 90%;
        justify-content: flex-end;
      }
    }
  }


}
