// homepage
.homepage{
  text-align: center;
  img{
    max-width: 100%;
    width: 800px;
  }
  .detail {
    max-width: 800px;
    margin: 0 auto;
    h2{
      font-size: 2.8em;
      color: $yellow;
      span{
        margin: 5px 20px;
      }
    }
    h3{
      white-space: pre-wrap;
      color:white;
      font-size: 2.4em;
      -webkit-margin-before: 0;
    }
    div{
      width: 90%;
      @include flex-row;
      justify-content: flex-end;
      button{
        color: white;
        background-color: transparent;
        font-size: 1.6em;
        padding: 5px 20px;
        text-align: center;
        border-radius: 20px;  
        margin: 0 20px;
        border: 2px solid white;
        &:hover{
          background-color: $yellow;
          border: 2px solid $yellow;
          cursor: pointer;
        }
      }
    }
  }


}
