// navbar 
.navbar{
  height: 100%;
  width: 120px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  align-items: center;
  .container{
    display: flex;
    align-items: center;
    position: relative;
    height: 75%;
    width: 100%;
  }
  @media screen and (min-width:1024px){
    display: flex;
  }
}
.rocket{
  height: 100%;
  width: 60px;
  position: absolute;
  left: 0;
  text-align: center;
  margin: 0;
  img{
    width: 60px;
    height: 60px;
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 10px;
    transition: margin-top 0.5s cubic-bezier(0.12, 0.69, 1, 1.12);
  }
  /** this is for the line underneath the rocket **/
  // div{
  //   width: 1px;
  //   background-color: #72adc4;
  //   height: 100%;
  //   z-index: -1;
  //   margin: 0 auto;
  // }
}

.control-btn {
  height: 80%;
  right: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  li{
    text-align: center;
    padding: 2px;
    width: 50px;
    height: 20px;
    color: white;
    filter: grayscale(0%);
    &:hover{
      cursor: pointer;
      color: white;
      font-weight: 600;
    }
  }
  .active{
    color:#72adc4;
    font-weight: 600;
  }
}
