.sponsor{
  text-align: center;
  h1 {
    color: white;
    font-size: $title;
    margin-bottom: 10px;
  }
  .list-sponsor {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      margin: 20px;
    }
  }
  h3 {
    margin: 20px auto;
    color: white;
    width: 100%;
    text-align: center;
    font-size: $header;
    line-height: 22pt;
    span{
      color: $yellow;
    }
    a{
      color: white;
      text-decoration: none;
    }
    @media screen and (min-width: 1023px) {
      width: 600px;
    }
  }
}