// font size
$title : 2.4em;
$header: 1.2em;
$titleMobile: 1.8em;
$detail: 12pt;
$detailHeight: 15pt;
$spacing: 1.2pt;

// color
$yellow : #DAAA00;

// layout
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import './components/navbar.scss';
@import './components/header.scss';
@import './components/homepage.scss';
@import './components/about.scss';
@import './components/schedule.scss';
@import './components/FAQ.scss';
@import './components/sponsor.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
p{
  letter-spacing: $spacing;
}
h1{
  margin: 0;
  padding: 0;
}

// main background
.wrapper {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  @media screen and (min-width:1024px){
    height: 100%;
  }
}

.page {
  min-height: 100vh;
  width: 100%;
}
.smaller-page {
  min-height: 60vh;
}



.padding-top {
  padding: 120px 20px 0 20px;
  @media screen and (min-width:1024px){
    padding: 200px 20px 0 20px;
  }
}

.btn {
  color: white;
  background-color: transparent;
  font-size: 1.6em;
  padding: 5px 20px;
  text-align: center;
  border-radius: 20px;  
  margin: 0 20px;
  border: 2px solid white;
  &:hover{
    background-color: $yellow;
    border: 2px solid $yellow;
    cursor: pointer;
  }  
}

